*
{
    padding: 0;
    margin: 0;
}
#header{
    background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a{
    float: right;
    color: #fff!important;
}
.navbar-brand img {
    width: 70px;
    margin-left: 30px;
}
/* welcome Text */
 .welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2)  
}
.welcome h1{
    color: #333;
}
.welcome .home-btn{
    color: #fff;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #013f7e;
}
.welcome .btn:focus{
    box-shadow: none;
}
/* About */
#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding-top: 20px 10px;
}
#about .h3{
   margin: 20px auto;
}
/* services */
#services{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px; 
}
#services .col-md-4{
    padding-bottom: 20px; 
}
#services .col-md-4 h4{
  padding: 5px; 
}
#services .col-md-4 img{
    width: 50px; 
  }
  #services .col-md-4 p{
    padding: 5px; 
    text-align: justify;
  }
  /* features */
  #features{
      padding-top: 100px;
      padding-bottom: 100px;
      background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("https://images.pexels.com/photos/60032/time-calendar-saturday-weekend-60032.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      color: #fff;
  }
  #features .col-md-6{
      padding: 20px;
  }
  .features-box{
      height: 120px;;
  }
  .features-box .features-left{
      height: 120px;
      width: 20%;
      float: left;
  }
  .features-box .features-left .fa{
    padding-top: 13px;
    font-size: 50px; 
}
.features-box .features-right{
    height: 120px;
    width: 80%;
    float: left;
}
.features-box .features-right h4{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.features-box .features-right p{
    padding-left: 15px;
    text-align: left;
}
/* Testimonials */
#testimonials{
padding-top: 100px;
padding-bottom: 100px;
}
#testimonials .col-md-3{
    padding: 10px 30px;
 }
 #testimonials img{
    height: 80px;
    width: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2)  
}
.review .fa-twitter{
    color: #013f7e;
}
#testimonials span{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #013f7e;
}
#testimonials p{
    padding-bottom: 20px;
}
/* subscribe */
.subscribe {
    padding: 50px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2)  
}
.subscribe h3, .subscribe p{
color: #fff;
}
.subscribe .input-group{
border-radius:30px;
background: #fff;
max-width: 500px;
margin: 10px auto;
padding: 5px;
}
.subscribe .form-control{
    border: none;
    background: transparent;
    
    }
    .subscribe .form-control:focus{
        box-shadow: none;
        background: transparent;
        
        }
        .subscribe .input-group-append{
            background-image: linear-gradient(to right, #1c03b5, #5c8bef);
            border-radius: 30px;
            
            }
            .subscribe .input-group-text{
                background: transparent;
                border: none;
                color: #fff;
                
                }
                .subscribe .btn:focus{
                    box-shadow: none;
                    }
    
/* body {
    background-color: black; 
    background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    background-size: 1200px auto;
    padding: 20px;
    margin: 20px;
};    
.container1 {
    float: right;
    clear: both;
};
.submitForm {
    background-color: white; font-size: 30px; width: 50%; left:auto; right: auto;
};
#contactUs-form {
background-color: white; font-size: 30px; width: 50%; left:auto; right: auto;
};
.container2 {
    float: left;
};
h1 {
    font-weight: bold;
    letter-spacing: 1.5em;
    text-shadow: 2px 2px black;
};    
p {
    color: white;
}    
.jumbotron {
    background-image: url("https://images.pexels.com/photos/696218/pexels-photo-696218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size:24px;
    line-height: 25px;
};    
;
    .eventList {
        font-weight: bold; 
        text-shadow: 2px 2px black; 
        color: white; 
        text-align: center; 
        background-color: black;
    };
.button {
    background-color: pink; 
};    
#weatherCard { width:100%;
}
; */