body {
    background-color: navy; 
    background-image: url("https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
};    
.container1 {
    float: right;
    clear: both;
};

.submitForm {
    background-color: white; font-size: 30px;

};

.container2 {
    float: left;
};

h1 {
    font-weight: bold;
    letter-spacing: 1.5em;
    text-shadow: 2px 2px black;
};    

p {
    color: white;
}    
.jumbotron {
    background-image: url("https://images.pexels.com/photos/1567069/pexels-photo-1567069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-size:24px;
    line-height: 25px;
};    

;
    .eventList {
        font-weight: bold; 
        text-shadow: 2px 2px black; 
        color: white; 
        text-align: center; 
        background-color: black;
    };
.button {
    background-color: pink; 
};    
;

